In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [12]:
TeenBirthRates = pd.read_csv("Teen rates by state.csv")

In [13]:
TeenBirthRates.head()

   YEAR STATE  RATE                                       URL
0  2020    AL  24.8     /nchs/pressroom/states/alabama/al.htm
1  2020    AK  17.7      /nchs/pressroom/states/alaska/ak.htm
2  2020    AZ  16.6     /nchs/pressroom/states/arizona/az.htm
3  2020    AR  27.8    /nchs/pressroom/states/arkansas/ar.htm
4  2020    CA  11.0  /nchs/pressroom/states/california/ca.htm

In [14]:
TeenBirthRates.shape

(400, 4)

In [16]:
TeenBirthRates.drop("URL", axis = 1, inplace=True)

In [18]:
TeenBirthRates.head()

   YEAR STATE  RATE
0  2020    AL  24.8
1  2020    AK  17.7
2  2020    AZ  16.6
3  2020    AR  27.8
4  2020    CA  11.0